/*CSS for index.html*/
.Title {
    background-color: aqua;
    padding: 30px;
}
h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
}
/*for hyperlinks*/
.Navigations {
    display: flex;
    justify-content: space-evenly;
}